*{
    box-sizing: border-box;
}
body{
    background: url("https://p4.wallpaperbetter.com/wallpaper/363/97/65/dark-purple-blur-gradation-wallpaper-preview.jpg") no-repeat;
    background-size: cover;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
    color: white;
    
}
/* header */
header{
    background-color:rgba(135, 124, 172, 0.575);
    padding:1px ;
}

#logo{
    width: 91px;
    height: auto;
}

input{
    border-radius: 5px;
    color: -internal-light-dark(white, white);
}
.botones li {
    list-style-type: none;
    padding: 8px 50px;
    margin: 0px;
    
}

.botones li a{
    text-decoration: none;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

.botones{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.partelogo{
    list-style-type: none;
}


/* INICIO */
.toggle-nav{
    display: none;
}
/* PARTE SERIES  */

.series-populares{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.art-series{
    border-radius: 10px;
    background: rgba(135, 124, 172, 0.575);
    width:15%;
    height:auto;
}

a img{
    width:95%;
    height: 290px;
    padding: 10px 10px;
    border: 0px;
 }

 .art-series .titulos-inicio{
     text-align: center;
 }

 .art-series p{
     text-align: center;
 }

 .titulos-inicio{
     font-family: 'Bebas Neue', cursive; 
     font-size: 35px;
     margin: 0px;
 }

/* PARTE PELICULAS */
.peliculas-populares{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.art-peliculas{
    border-radius: 10px;
    background: rgba(135, 124, 172, 0.575);
    width:15%
}

.art-peliculas .titulos-inicio{
    text-align: center;
}

.art-peliculas p{
    text-align: center;
}


/*  LO MAS VISTO */
.lo-mas-visto{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.art-visto{
    border-radius: 10px;
    background: rgba(135, 124, 172, 0.575);
    width:15%
}

.art-visto .titulos-inicio{
    text-align: center;
}

.art-visto p{
    text-align: center;
}



/* detalle serie */
.bloque-serie{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.bloque-serie section{
    width: 50%;
}

.imagen-serie{
    width: 50%;
    margin: 5%;
}

.serie{
    width: 50%;
    margin: 5% ;
}

.imagen-serie .imagen-pelicula{
    width: 100%;
    height: auto;
    margin: 5%;
}

.tituloserie{
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 50px;
    box-sizing: border-box;
    margin: 0%;
    display: flex;
}

.tituloyfecha li {
    list-style-type: none;
    display: flex;
}

article ul li{
    display: flex;
    justify-content: space-between;
}

.bloque-sinopsis{
    display: flex;
    background-color:rgba(135, 124, 172, 0.575);
    width:100%;
    padding: 4%;
}
.bloque-sinopsis p{
    text-align: justify;
}
.bloque-serie section{
    display: block;
    justify-content: space-around
}


/* detalle pelicula*/
.titulo-peli{
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 50px;
    margin: 0%;
    display: flex;
}

.bloque-pelicula{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.imagen-pelicula{
    width: 50%;
}

.peli{
    width: 50%;
    margin: 5% ;
}

.imagen-pelicula .portada-pelicula{
    width: 100%;
    height: 400px;
    margin: 5%;
}


.bloque-sinopsis-peli{
    display: flex;
    background-color: rgba(135, 124, 172, 0.575);
    width:100%;
    padding: 4%;
}

.bloque-sinopsis-peli p{
    text-align: justify;
}
.bloque-pelicula section{
    display: block;
    justify-content: space-around
}

a{
    color: white;
}

/* search-results (roni) */

.separacion section{
    display: flex;
    height: auto;
    justify-content: space-between;
    
}

.none{
    display: none;
}

/* tamaño de la imagen */
.buscado section img{
    width: 70%;
    height: 500px;
}

/* pone todo uno al lado del otro */
.main{
    display: flex; 
    flex-direction: row;
}

div.detalle{
    display: flex;
    justify-content: center;
}

div img{
    width: 100%;
}

.detalle{
    width: 50%;
}

.otras-sw li{
    display: flex;
    display: inline;
    list-style-type: none;
    initial-letter-align: right;
    background-color: rgb(218, 218, 218);
    font-size: 80%;
}

/* Generos */

.generos-peliculas{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.generos-series{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* Favoritos */

.favoritos{
    display: flex;
    justify-content: first baseline;
}

.favoritos li {
    list-style-type: none;
}

.titulos-body{
    display: inline-block;
    width: 230px;
    height: 40px;
    /* border-radius: 10px;
    background-color: rgb(100, 89, 139); */
    text-align:center;
    justify-content: center;
}
   
/* FOOTER */
.parte-footer{
    display: flex;
    border-radius: 10px;
    justify-content: center;
    max-width: 100%;
}

article.footer{
    /* background-color: #f08080; */
    width: 20%;
    font-size: 90%;
    margin-top: 30px;
}
ul.iconos{
    list-style: none;
    text-align:left;
}

ul.noticias{
    list-style: none;
    text-align: left;
}


.titulos-footer{
    text-align: left;
}

footer{

    background-color: rgba(135, 124, 172, 0.575) ; 
    padding: 5px;
    margin-top: 25px;
    border-radius: 20px;

}

.footer-abajo{
    display: flex;
    justify-content: center;
    margin-top: 35px;
    font-size: 13px;

}

.p-iconos{
    font-size: 100%;
}

/* RESPONSIVE */ 
@media(max-width:768px){
   
    .art-series p{
        display: none;
    }
    .art-peliculas p{
        display: none;
    }
    .art-visto p{
        display: none;
    }

    .titulos-inicio{
        font-size: 25px;
    }
}
 @media(max-width:430px){
    .toggle-nav{
        display: inline-block; 
        background-color: rgb(68, 68, 68);
        padding: 10px;
    }

    .botones li a{
        display: none;
    }

    .art-series p{
        display: none;
    }

    .art-peliculas p{
        display: none;
    }

    .art-visto p{
        display: none;
    }

    .titulos-inicio{
        font-size: 25px;
    }
}

 