*{
    box-sizing: border-box;
}
body{
    background-color:rgb(46, 45, 45);
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
    color: white;
    
}
/* header */
header{
    background-color:rgb(100, 89, 139);
    padding:1px ;
}

#logo{
    width: 160px;
    height: 40px;
}

.botones li {
    list-style-type: none;
    padding: 8px 50px;
    margin: 0px;
}

.botones li a{
    text-decoration: none;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

.botones{
    display: flex;
    justify-content: space-around;
}

.partelogo{
    list-style-type: none;
}


/* inicio */

.img-home{
    width: 275px;
    height: 280px;
    padding: 5%;
}

.series-populares{
    display: flex;
    justify-content: first baseline;
}
.series-populares li {
    list-style-type: none;
}

.peliculas-populares{
    display: flex;
    justify-content: first baseline;
}

.peliculas-populares li{
    list-style-type: none;
}

.lo-mas-visto{
    display: flex;
    justify-content: left;
}

.lo-mas-visto li{
    list-style-type: none;
}


/* detalle serie */
.tituloserie{
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 50px;
    box-sizing: border-box;
    margin: 0%;
    display: flex;
    
}

.bloque-serie {
    display: flex;
    flex-direction: row;
}

.intento{
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5%;
}

.sinopsis{
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: justify;
}

.tituloyfecha li {
    list-style-type: none;
    display: flex;
}

article ul li{
    display: flex;
    justify-content: space-between;
}

.portada{
    box-sizing: border-box;
    margin: 4px 0px;
    width: 472px;
    height: 368px;
}

.bloque-sinopsis{
    display: flex;
    background-color: rgba(128, 128, 128, 0.301);
    width: 105%;
    padding: 4%;
    
}
