*{
    box-sizing: border-box;
}
body{
    background-color:rgb(46, 45, 45);
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
    color: white;
    
}
/* header */
header{
    background-color:rgb(100, 89, 139);
    padding:1px ;
}

#logo{
    width: 160px;
    height: 40px;
}

.botones li {
    list-style-type: none;
    padding: 8px 50px;
    margin: 0px;
}

.botones li a{
    text-decoration: none;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

.botones{
    display: flex;
    justify-content: space-around;
}

.partelogo{
    list-style-type: none;
}


/* inicio */

.img-home{
    width: 200px;
    height: 225px;
    padding-left: 0%;
}

.series-populares{
    display: flex;
    justify-content: first baseline;
}
.series-populares li {
    list-style-type: none;
}

/* detalle serie */
.tituloserie{
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 50px;
    box-sizing: border-box;
    margin: 0%;
    display: flex;
}

.bloque-serie {
    display: flex;
    flex-direction: row;
}

.intento{
    flex-direction: row;
    flex-wrap: wrap;
}

.sinopsis{
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: justify;
}

.tituloyfecha li {
    list-style-type: none;
    display: flex;
}

.portada{
    box-sizing: border-box;
    margin: 4px 0px;
}
